@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .to-warm-gray-100 {
      --tw-gradient-to: rgb(251, 243, 238);
    }
    
    .from-warm-gray-100 {
      --tw-gradient-from: rgb(251, 243, 238);
    }
    
    .via-warm-gray-300 {
      --tw-gradient-stops: var(--tw-gradient-from), rgb(236, 222, 214);
    }
  }
  

@layer base {
  section {
    @apply py-[75px];
  }
}

@layer components {

  .container {
    @apply max-w-full w-[1440px] px-5 mx-auto;
  }

  .btn {
    @apply border border-solid border-primaryColor  hover:bg-primaryColor hover:text-white py-[15px] px-[35px] rounded-[50px] text-primaryColor font-[800] mt-[38px];
  }

  .heading {
    @apply text-[44px] leading-[54px] font-[700] text-headingColor;
  }

  .text__para {
    @apply text-[18px] leading-[30px] font-[400] text-textColor mt-[18px];
  }

  .header{
        @apply bg-[] bg-no-repeat bg-center bg-cover w-full h-[100px] leading-[100px]
    }

  .hero__section {
    @apply bg-[url('./assets/images/hero-bg.png')] bg-no-repeat bg-center bg-cover pb-[55px];
  }

  .apply_bg {
    @apply bg-[url('./assets/images/hero-bg.png')] bg-no-repeat bg-center bg-cover pb-[55px];
  }

  .background_image{
    @apply bg-gradient-to-r from-warm-gray-100 via-warm-gray-300 to-warm-gray-100 bg-no-repeat bg-center bg-cover w-full;
  }
  
}

@media only screen and (max-width: 1024px) {
  .container {
    @apply w-full;
  }

  section {
    @apply py-[35px];
  }
}

@media only screen and (max-width: 768px) {
  .heading {
    @apply text-[26px] leading-[36px];
  }

  .text__para {
    @apply text-[16px] leading-7 mt-3;
  }
}
